@import "./../var.scss";

.scetch-book {
    padding-top: 90px;

    .book-content {
        display: flex;
        justify-content: space-between;

        .book__sale-content {
            padding-top: 24px;
            max-width: 350px;

            .desc_book {
                margin-top: 8px;
                margin-bottom: 30px;
            }
        }
    }
}